@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/img/1Aburrointeligente.png);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f4f4f4;
}

#elemento-coluna{
    background-color: blue;
    color: #f4f4f4;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
}

